<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <h3>
        <a href='/'>
            Home
        </a>
    </h3>

    <h3>
        <a href='/category/create'>
            Create New Category
        </a>
    </h3>

    <% category_list.map((item)=> { %>
        <div>
            <a href=<%=item.url%>>
                <%= item.category_name %>
            </a>
        </div>
        <% }) %>
</body>

</html>