<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <h2>Home</h2>
  <ul>
    <li>
      <%= data.category_count %>
    </li>
    <li>
      <%= data.item_count %>
    </li>
  </ul>
</body>

</html>