<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1>
      <%= title %>
    </h1>

    <div id='nav-links-container'>
      <a href='/' class='nav-links'>
        Home
      </a>

      <a href=<%=url%> class='nav-links'>
        Categories
      </a>
    </div>

  </header>
  <div id='home-main'>
    <h1>
      Inventory Management Application
    </h1>

    <p>
      Manage all your furniture tracking needs a range of everything available<br>Add, Edit and Remove Categories and
      Items
    </p>

    <a href=<%=url%>>
      <img class='inventory_image' src="http://localhost:3000/images/inventory.png" alt="inventory image" width="300"
        height="300">
    </a>

  </div>

</body>

</html>