<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <h1>
      <%= title %>
    </h1>

    <a href=<%=url%>>
      Categories
    </a>
  </div>

  <div>
    <h3>
      Inventory Management Application.
    </h3>

    <p>
      Manage all your furniture needs, tracking a range of everything available. Add, Edit and Remove Categories and
      Items at will.
    </p>
  </div>
</body>

</html>