* {
  margin: 0;
}
body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:active {
  color: #00a0df;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

a.nav-links {
  padding-right: 20px;
}

#home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.inventory_image:hover {
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.13);
}

.title-container {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.create-new-btn {
  margin: 20px;
}
.create-new-btn:hover {
  transform: scale(1.1);
}
.create-new-btn:active {
  transform: scale(1.05);
}

#category-list-container {
  display: flex;
  justify-content: space-evenly;
  margin: none;
}

.category-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  padding: 5px;
  width: 250px;
  height: 125px;

  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  color: rgb(56, 56, 56);
}

.category-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  word-wrap: break-word;
}
.category-details:hover{
transform: scale(1.05);
}

.action-icons {
  border-top: 1px solid rgba(0, 0, 0, 0.322);
  margin-top: 10px;
  padding-top: 10px;
  width: inherit;
}
.update-btn:hover{
  transform: scale(1.05);
}
.delete-btn:hover{
  transform: scale(1.05);
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
